{% extends "base.html" %}
{% from "partials/notice.html" import notice_brand with context %}
{% block title %}{{ app_name }} - {{ t('ui.reply.' ~ status_key ~ '.title') }}{% endblock title %}
{% block body %}
  <div class="notice-scene">
    <div class="notice-shell">
      <div class="notice-brand-wrap">{{ notice_brand() }}</div>
      <div class="notice-card">
        <h1 class="notice-title">{{ t('ui.reply.' ~ status_key ~ '.title') }}</h1>
        <p class="notice-body">{{ t('ui.reply.' ~ status_key ~ '.body') }}</p>
        <div class="notice-actions">
          <a href="{{ url_for('login_page') }}" class="btn btn-primary">{{ t("ui.reply.login_cta") }}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
